{% extends 'base.html' %}
{% load static %}

{% block main %}

<script>
    function changeamount() {
        $("#setamount").empty();
        $("#setamount1").empty();
        $("#setava").empty();
        var e=$('#exchange option:selected').val();
        var a=$('#symbol option:selected').text();
        var b=a.split('_')[1];
        $("#setamount").text(b);
        $("#setamount1").text(b);
        $.get("/app/getsymbolava/"+e+'/'+b, function(data){
            $("#setava").text(data);
        });
    }
</script>

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">新增定投</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form role="form" method="post" action="{% url 'castadd' %}">
                {% csrf_token %}
                <!-- text input -->
                <div class="form-group">
                    <label>定投名称</label>
                    <input type="text" class="form-control" name="{{ castform.name.name }}"
                           placeholder="请输入定投名称">
                    {{ castform.errors.name }}
                </div>
                <div class="form-group">
                    <label>cron设置（参考crontab)</label><br>
                    分:<input type="text" name="{{ castform.minute.name }}" placeholder="*">{{ castform.errors.minute }}<span>例：&nbsp;*/4 &nbsp;1,2,3&nbsp; 0-59 </span><br>
                    时:<input type="text" name="{{ castform.hour.name }}" placeholder="*">{{ castform.errors.hour }}<span>例：&nbsp;*/4 &nbsp;1,2,3&nbsp; 0-23 </span><br>
                    天:<input type="text" name="{{ castform.day.name }}" placeholder="*">{{ castform.errors.day }}<span>例：&nbsp;*/4 &nbsp;1,2,3&nbsp; 0-31 </span><br>
                </div>
                <div class="form-group" id="exans">
                    <label>选择交易所</label>
                    <select class="exchange form-control" name="{{ castform.exid.name }}" id="exchange"></select>
                    {{ castform.errors.exid }}
                    <label>选择交易对</label>
                    <select class="symbol form-control" name="{{ castform.symbol.name }}" id="symbol" onchange="javascript:changeamount()"></select>
                    {{ castform.errors.symbol }}
                </div>
                <div class="form-group">
                    <label>可用余额：<span id="setava"></span><span id="setamount"></span></label>
                </div>
                <div class="form-group">
                    <label>金额（单位：<span id="setamount1"></span>）</label>
                    <input class="form-control" type="number" step="1e-20" name="{{ castform.amount.name }}"
                           >
                    {{ castform.errors.amount }}
                </div>
                <div class="form-group">
                    <label>增长百分比(%)</label>
                    <input class="form-control" type="number" step="1e-20" name="{{ castform.sellpercent.name }}"
                           >
                {{ castform.errors.sellpercent }}
                </div>
                <div>





                </div>

                <button type="submit" class="btn btn-primary">保存</button>
                <a class="btn" href="{% url 'cast' %}">返回</a>


            </form>
        </div>
        <!-- /.box-body -->
    </div>


        <script src="http://cdn.staticfile.org/jquery/1.11.3/jquery.min.js"></script>
        <script src="{% static 'dist/js/jquery.cxselect.js' %}"></script>
        <script>
            $('#exans').cxSelect({
                url: '{% url 'symbolselect' %}',
                selects: ['exchange', 'symbol'],
                jsonName: 'name',
                jsonValue: 'value',
                jsonSub: 'sub',
            });

        </script>

{% endblock %}
