{% extends 'base.html' %}


{% block main %}
    <script>
        function symbolselect() {
            var exid = $("#id_exid").val();
            console.log(exid)
            if (exid.length == '') {
                $("#selectsymbol").empty();
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "{% url 'symbolselect' %}",
                    data: {
                        "exid": exid
                    },
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    success: function (data) {
                        $("#selectsymbol").empty();
                        $.each(data, function (i, item) {

                            $("#selectsymbol").append("<option value='" + item["fields"]["name"] + "'>" + item["fields"]["name"] + "</option>");
                        })


                    }
                })

            }


        }
    </script>


    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">新增定投</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form role="form" method="post" action="{% url 'castaddorchange' %}">
                {% csrf_token %}
                <!-- text input -->
                <div class="form-group">
                    <label>定投名称</label>
                    <input type="text" class="form-control" name="{{ castform.name.name }}"
                           placeholder="请输入定投名称">
                </div>
                <div class="form-group">
                    <label>cron设置（参考crontab)</label><br>
                    分:<input type="text" name="{{ castform.minute.name }}" placeholder="例：*  1-59 ">
                    时:<input type="text" name="{{ castform.hour.name }}" placeholder="例：*  1-23 ">
                    天:<input type="text" name="{{ castform.day.name }}" placeholder="例：*  1-31 ">
                </div>
                <div class="form-group">
                    <label>选择交易所</label>
                    {{ castform.exid }}

                    <label>选择交易对</label>
                    <select class="form-control" id="selectsymbol" name="{{ castform.symbol.name }}">
                    </select>
                </div>
                <div class="form-group">
                    <label>数量</label>
                    <input class="form-control" type="number" step="1e-20" name="{{ castform.amount.name }}"
                           value="{% if castform.amount.value %}{{ castform.amount.value }}{% endif %}">
                </div>
                <div class="form-group">
                    <label>增长百分比(%)</label>
                    <input class="form-control" type="number" step="1e-20" name="{{ castform.sellpercent.name }}"
                           value="{% if castform.sellpercent.value %}{{ castform.sellpercent.value }}{% endif %}">
                </div>
                <div>
                    {{ castform.errors.name }}
                    {{ castform.errors.minute }}
                    {{ castform.errors.hour }}
                    {{ castform.errors.day }}
                    {{ castform.errors.exid }}
                    {{ castform.errors.symbol }}
                    {{ castform.errors.amount }}
                    {{ castform.errors.sellpercent }}

                </div>

                <button type="submit" class="btn btn-primary">保存</button>
                <a class="btn" href="{% url 'cast' %}">返回</a>


            </form>
        </div>
        <!-- /.box-body -->
    </div>

{% endblock %}
