{% extends 'base.html' %}


{% block main %}


        <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">{{ condition.name }}条件投日志</h3>
              <button type="button" class="btn btn-danger btn-sm" onclick="javascript:if (confirm('确定要清理全部日志?')) location.href='{% url 'cleanconditionlog' condition.id %}'">清理日志</button>
              <div class="box-tools">
                <div class="pull-right">
                    <form action="#" method="get">
                        <label><input type="search" class="input-sm" placeholder="" aria-controls="example1"name="search"><button type="submit" class="btn btn-primary">搜索</button></label>
                    </form>
                </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th style="width: 150px;">时间</th>
                  <th>日志内容</th>
                </tr>
                {% for conditionlog in conditionlogs %}
                 <tr>
                  <td>{{ conditionlog.tltime }}</td>
                  <td>{{ conditionlog.content }}</td>
                </tr>
                {% endfor %}

              </table>
            </div>
            <!-- /.box-body -->
          <div class="box-footer clearfix dataTables_paginate paging_simple_numbers" >
                    <ul class="pagination">
                        {% for page_number in conditionlogs.paginator.page_range %}
                            {% ifequal page_number  conditionlogs.number %}
                                <li class="paginate_button active"><a href="#"><strong>{{ page_number }}</strong></a></li>
                            {% else %}
                                <li class="paginate_button "><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                            {% endifequal %}
                        {% endfor %}
                    </ul>
                </div>
           <a class="btn" href="{% url 'condition' %}">返回</a>
          </div>

          <!-- /.box -->
        </div>

      </div>

{% endblock %}