{% extends 'base.html' %}

{% block main %}
        <div class="row">
            <div class="content-header"><h3>控制台</h3></div><br>
        </div>
        <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ exchangecount }}</h3>

              <p>交易所</p>
            </div>
            <div class="icon">
              <i class="fa ion-android-home"></i>
            </div>
            <a href="{% url 'exchange' %}" class="small-box-footer">
              更多 <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ symbolcount }}</h3>

              <p>交易对</p>
            </div>
            <div class="icon">
              <i class="ion ion-android-apps"></i>
            </div>
            <a href="{% url 'symbol' %}" class="small-box-footer">
              更多 <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ castcount }}</h3>

              <p>定投</p>
            </div>
            <div class="icon">
              <i class="ion ion-android-bookmark"></i>
            </div>
            <a href="{% url 'cast' %}" class="small-box-footer">
              更多 <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{ conditioncount }}</h3>

              <p>条件投</p>
            </div>
            <div class="icon">
              <i class="ion ion-android-drafts"></i>
            </div>
            <a href="{% url 'condition' %}" class="small-box-footer">
              更多 <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <div class="row">
            <div class="col-xs-8">
          <p class="lead">DCcron说明</p>

          <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
            是否还在高山上惨哭？是否还觉得一觉醒来错过了几百个亿？让DCcron成为你新的解决思路。<br>
              DCcron是区块链的一个辅助性工具，基于django 2开发，支持binance,okex,huobipro等多平台，提供了定投和条件投两大功能:一个追求长期价值，看好未来，佛系坚守;一个追求最大价值，助你低进高出，游刃有余。<br>
              本系统为开源项目，仅供学习研究，技术交流，希望能抛砖引玉。可免费参考或使用系统，但因此产生各种风险损失，概不负责。
          </p>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-6">
               <p class="lead">欢迎捐赠</p>
              <p>BTC地址：18Fd9TBMnqAA4BEeEtHvzKZ3phwE5xVrcr</p>
              <p>ETH地址：0x8b74e2a75ce6e80663f24fcfd0e48c3eb4b4cae2</p>
              <p>USDT地址：18JSQhT6XMQZpbzxjjt4jpwznrAnFpcAU3</p>
            <br>
          </div>
      </div>
      <div class="row">
            <div class="col-xs-4">
          <p class="lead">系统信息</p>

          <div class="table-responsive">
            <table class="table">
              <tbody><tr>
                <th style="width:50%">系统名称：</th>
                <td>DCcron</td>
              </tr>
              <tr>
                <th>操作系统：</th>
                <td>{{ system.plateform }}</td>
              </tr>
              <tr>
                <th>架构：</th>
                <td>{{ system.machine }}</td>
              </tr>
              <tr>
                <th>位数：</th>
                <td>{{ system.arch }}</td>
              </tr>
              <tr>
                <th>Python版本：</th>
                <td>{{ system.python }}</td>
              </tr>
            </tbody></table>
          </div>
        </div>
      </div>



{% endblock %}