{% extends 'base.html' %}


{% block main %}


        <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">交易所列表</h3>
                <button class="btn btn-success" onclick="javascript:window.location.href='{% url 'exchangeupdate' %}'">更新列表</button>
              <div class="box-tools">


                    <form action="#" method="get">
                        <label><input type="search" class="input-sm" placeholder="" aria-controls="example1"name="search"><button type="submit" class="btn btn-primary">搜索</button></label>
                    </form>



              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>ID</th>
                  <th>交易所代码</th>
                  <th>名称</th>
                  <th>支持交易对</th>
                  <th>状态</th>
                  <th></th>
                </tr>
                {% for exchange in exchanges %}
                 <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ exchange.code }}</td>
                  <td>{{ exchange.name }}</td>
                  <td><a href="{% url 'symbollist' exchange.id %}">查看列表</a></td>
                  <td>{% if exchange.status == True %}<span class="label label-success">启用</span>{% else %}<span class="label label-danger">禁用</span>{% endif %}</td>
                  <td><button type="button" class="btn btn-block btn-info btn-sm" onclick="javascript:window.location.href='{% url 'exchangeinfo' exchange.id %}'">配置</button></td>
                </tr>
                {% endfor %}

              </table>
            </div>
          <div class="box-footer clearfix dataTables_paginate paging_simple_numbers" >
                    <ul class="pagination">
                        {% for page_number in exchanges.paginator.page_range %}
                            {% ifequal page_number  exchanges.number %}

                                <li class="paginate_button active"><a href="#"><strong>{{ page_number }}</strong></a></li>
                            {% else %}
                                <li class="paginate_button "><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                            {% endifequal %}
                        {% endfor %}
                    </ul>
                </div>
            <!-- /.box-body -->
          </div>

          <!-- /.box -->
        </div>
      </div>

{% endblock %}