{% extends 'base.html' %}


{% block main %}


    <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">交易所信息</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form role="form" method="post" action="{% url 'exchangeinfo' exid %}">
              {% csrf_token %}
                <!-- text input -->
                <div class="form-group">
                  <label>交易所代号</label>
                  <input type="text" class="form-control" name="{{ exchangeform.code.name }}" value="{{ exchangeform.code.value }}" readonly>
                </div>
                <div class="form-group">
                  <label>交易所名称</label>
                  <input type="text" class="form-control" name="{{ exchangeform.name.name }}" value="{{ exchangeform.name.value }}" readonly>
                </div>
                <div class="form-group">
                  <label>API_KEY</label>
                  <input type="text" class="form-control"  placeholder="请输入API_KEY" name="{{ exchangeform.apikey.name }}" value="{{ exchangeform.apikey.value }}">
                </div>
                <div class="form-group">
                  <label>SECRET_KEY</label>
                  <input type="text" class="form-control"  placeholder="请输入SECRET_KEY" name="{{ exchangeform.secretkey.name }}" value="{{ exchangeform.secretkey.value }}">
                </div>
                 <div class="form-group">
                  <div class="checkbox">
                      <!--<label>

                       <input type="checkbox" name="{{ exchangeform.status.name }}"  {% if exchangeform.status.value == True %}checked{% endif %}>启用

                    </label>-->
                   <label>
                        {{ exchangeform.status }}启用
                   </label>

                  </div>
                <div>
                    {{ exchangeform.non_field_errors }}
                </div>


                </div>
                 <button type="submit" class="btn btn-primary">保存</button>
                 <a class="btn" href="{% url 'exchange' %}">返回</a>


              </form>
            </div>
            <!-- /.box-body -->
          </div>

{% endblock %}
<script>
    var check=$("#check").prop("checked")
    if (check) {
        $("#check").attr("value","True")
    }
</script>